<body>
    <div class="navbar">
        <div class="navcomponent">
            <img (click)="home()" src="assets\home.png" alt="">
        </div>
        <div class="navcomponent">
            <img (click)="notification()" src="assets\notification.png" alt="">
        </div>
        <div class="navcomponent">
            <img (click)="logout()" src="assets\logout.png" alt="">
        </div>
    </div>
    
    <div class="assign_member">
        <div class="choose_option">
            <div class="option1" id="option1">EMAIL</div>
            <div class="option2" id="option2">USERNAME</div>
        </div>
        <div class="add_by_email" id="add_by_email">
            <h1>Enter user email</h1>
            <form [formGroup]="addByEmailForm">
                <input formControlName="Email" type="email" placeholder="Email" required=""/>
                <br/>
                <select formControlName="ProjectName" name="projectName" id="projectName">
                    <option value="">Choose project</option>
                    <option *ngFor="let project of projects" [value]="project.name">{{project.name}}</option>
                </select>
                <br/>
                <button (click)="onCreateByEmail()" type="submit">Add user</button>
            </form>
        </div>
        <div class="add_by_username" id="add_by_username">
            <h1>Enter username</h1>
            <form [formGroup]="addByUsernameForm">
                <input formControlName="Username" type="text" placeholder="Username" required=""/>
                <br/>
                <select formControlName="ProjectName" name="projectName" id="projectName">
                    <option value="">Choose project</option>
                    <option *ngFor="let project of projects" [value]="project.name">{{project.name}}</option>
                </select>
                <br/>
                <button (click)="onCreateByUsername()" type="submit">Add user</button>
            </form>
        </div>
    </div>
</body>