<body>
    
    <nav>
        <a href="#">HOME</a>
        <a href="/login">MY ACCOUNT</a>
        <a href="/about">ABOUT</a>
        <a href="/contact">CONTACT</a>
    </nav>
    
    
    <div class="welcome_message">
        <h1>In today's dynamic work environment, where teams collaborate across distances and time zones, effective task management is the linchpin of success. Task management applications have emerged as indispensable tools, serving as the backbone of efficient teamwork and project completion</h1>
    </div>
    
    <div class="login_message">
        <h2>Ready to boost your productivity?</h2>
        <a href="/login">START NOW</a>
    </div>


</body>