<div class="navbar">
    <div class="navcomponent">
        <img (click)="home()" src="assets\home.png" alt="">
    </div>
    <div class="navcomponent">
        <img (click)="notification()" src="assets\notification.png" alt="">
    </div>
    <div class="navcomponent">
        <img (click)="logout()" src="assets\logout.png" alt="">
    </div>
</div>

<div class="notifications">
    <p>Inbox</p>
    <div class="notification">
        <div class="from">
            <h1>Alex</h1>
        </div>
        <div class="message">
            <h2>Hello my dear friend!</h2>
        </div>
        <div class="date">
            <h2>29.11.2023</h2>
        </div>
        <div class="remove">
            <button type="button">x</button>
        </div>
    </div>
    <div class="notification">
        <div class="from">
            <h1>Alex</h1>
        </div>
        <div class="message">
            <h2>Hello my dear friend!</h2>
        </div>
        <div class="date">
            <h2>29.11.2023</h2>
        </div>
        <div class="remove">
            <button type="button">x</button>
        </div>
    </div>
    <div class="notification">
        <div class="from">
            <h1>Alex</h1>
        </div>
        <div class="message">
            <h2>Hello my dear friend!</h2>
        </div>
        <div class="date">
            <h2>29.11.2023</h2>
        </div>
        <div class="remove">
            <button type="button">x</button>
        </div>
    </div>
</div>

