<nav>
    <a href="#">HOME</a>
    <a href="/login">MY ACCOUNT</a>
    <a href="/about">ABOUT</a>
    <a href="/contact">CONTACT</a>
</nav>

<div class="message">
    <h3>Introducing Task Manager, the ultimate productivity app designed to streamline your project management and task assignment processes.</h3>
    <br/>
    <h3>This innovative application empowers individuals and teams to efficiently organize, collaborate, and stay on top of their tasks, ensuring that projects are completed seamlessly and deadlines are met.</h3>
</div>