<div class="navbar">
    <div class="navcomponent">
        <img (click)="home()" src="assets\home.png" alt="">
    </div>
    <div class="navcomponent">
        <img (click)="notification()" src="assets\notification.png" alt="">
    </div>
    <div class="navcomponent">
        <img (click)="logout()" src="assets\logout.png" alt="">
    </div>
</div>

<div class="user_menu">
    <div class="user_option" (click)="create_project()">
        <div class="option_image">
            <img src="assets\project.png" alt="">
        </div>
        <div class="option_info">
            <h1>Create project</h1>
        </div>
    </div>
    <div class="user_option">
        <div class="option_image">
            <img (click)="create_task()" src="assets\add_task.png" alt="" style="margin-left: 65px;">
        </div>
        <div class="option_info">
            <h1>Create task</h1>
        </div>
    </div>
    <div class="user_option">
        <div class="option_image">
            <img (click)="view_tasks()" src="assets\task.png" alt="">
        </div>
        <div class="option_info">
            <h1>View tasks</h1>
        </div>
    </div>
    <div class="user_option" (click)="assign_member()">
        <div class="option_image">
            <img src="assets\add_user.png" alt="" style="margin-left: 70px;">
        </div>
        <div class="option_info">
            <h1>Assign members</h1>
        </div>
    </div>
</div>

<div class="my_projects">
    <table *ngIf="projects.length>0; else noData">
        <tr>
          <th>Name</th>
          <th>Description</th>
          <th>Creation date</th>
          <th>Creator username</th>
        </tr>
        <tr *ngFor="let project of projects">
            <td>{{project.name}}</td>
            <td>{{project.description}}</td>
            <td>{{project.creation_date}}</td>
            <td>{{project.creatorUsername}}</td>
        </tr>
    </table>
    <ng-template #noData>
        <h3>You have not created any projects</h3>
    </ng-template>
</div>