.navbar {
    background-color: lightgreen;
    opacity: 0.9;
    height: 70px;
    width: 30%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border-radius: 7px;
}

.navcomponent img {
    height: 50px;
    width: 50px;
    margin-top: 7px;
    cursor: pointer;
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto Mono', monospace;
}

table{
    height: auto;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    border-left: 3px solid lightgreen;
    border-right: 3px solid lightgreen;
}
th{
    padding: 25px;
    border-top: 3px solid lightgreen;
    border-bottom: 3px solid lightgreen;
    text-align: center;
    font-size: 18px;
    background-color: lightgreen;

}
td{
    padding: 25px;
    border-bottom: 3px solid lightgreen;
    text-align: center;
    font-size: 18px;
}